body{
    margin: 0;
    padding: 0px;
    font-family: 'Smythe', cursive;
    /* background-image: url("burger.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    /* object-fit: cover; */
    /* background-color: rgb(36, 20, 6);
    background-blend-mode:soft-light;
    /* filter: blur(1px); */
    background:rgb(112, 56, 3);
    /* background-size:100%; */
    /* background-position: center;  */
    /* max-width: 350px; */
    /* max-height: 100%; */
    margin: 0 auto;
    color: rgb(230, 213, 213);
    text-shadow: 0 0 2px black;

}

.container{
   
    padding-bottom: 10px;
    /* width: 360px; */
    /* margin: 0 auto; */
    background:rgb(112, 56, 3);
    
    min-height: 100vh;
   position: relative;
    
   
}

p{
    font-weight:lighter;
    margin: 0px;
}    
 h1{
    font-weight:lighter;
    margin: 0px;
}  
 

    /* header */

.header{
    background: url(/images/360_F_542158644_HAp3idXMV7aaJaTl6EQVSg2e4b5dFZzo.jpg);
    background-color: rgb(36, 20, 6);
    /* background-blend-mode:hard-light; */
    /* filter: blur(1px); */
    
    /* background-size:100%; */
    /* background-position: center; */
    /* object-fit: cover; */
    width: auto;
    height: 80px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    
    position: relative;
}

.header p{
    width: 300px;
    margin: 0 auto;
}
/* .fakeBlurDiv{
    width: 310px;
    height: 80px;
    position: absolute;
    top: 2%;
    margin: 0 auto;
} */
/* .textHeader{
    position: absolute;
    color: white;
    top: 2%;
    left:37%;
    z-index: 2;
    
} */

/* .textHeader h1,
.textHeader p{
    text-shadow: 5px 5px 5px black;
} */
/* **** */
.hidden{
    display: none;
}
/* * order */
#order{
    margin:10px;
}
.priceList{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0.5rem;
}
.priceList p,
.priceList h1
{
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}
     /* menu array looped */
.box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 95%;
    margin: 0 auto;
}
.remove1,
.remove2,
.remove3{
    
    font-size: 1.15rem;
    font-weight:bold;
    font-family: 'Smythe', cursive;
    padding: 10px;
    border: none;
    background: none;
    color: rgb(241, 58, 58);
    text-shadow: 0 0 2px black;
}

.remove1:hover,
.remove2:hover,
.remove3:hover{
    color: red;
}
.remove1:active,
.remove2:active,
.remove3:active{
    font-size: 1rem;
    color: red;

}


.s-div{
    width: 20%;
    margin-left:10px ;
    font-size: 40px;
}
.l-div{
    width: 70%;
}
.l-div h1{
    font-size: 23px;
    font-weight: bold;
    margin:0;
    
}
.l-div p{
    margin:0;
    margin-bottom: 4px;
    font-size: 16px;
}
.price{
    font-weight: bold;
}


.small-box1{
    display: flex;
}
#plus-btn{
    margin-right: 10px;
    margin-top: 15px;
    padding: 0px;
    padding-bottom: 5px;
     width: 40px; 
     height: 35px; 
    border: 1px solid darkolivegreen;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 100;
    background: white;
    
    
}
#plus-btn:hover{
    font-size: 32px;
    padding-bottom: 10px;
}
#plus-btn:active{
    font-size: 32px;
    padding-bottom: 10px;
}
.buyBtn{
    display: block;
    width: 90%;
    height: 3rem;
    margin: 0.5rem auto;
    border: 1px solid black;
    border-radius: 10px;
    background:greenyellow;
    font-size: 1.2rem;
    font-weight: bold;
}
.buyBtn:active{
    width: 92%;
    height: 3.2rem;
}
.finalPrice{
    justify-content: space-between;
}
    /* order box */

.order
{
    display: flex;
    justify-content: space-between;
   
    
}
.main-order{
    margin-top: 20px;
    
}

.ur-order{
    margin-top: 20px;
    text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.order h1,
.order h1
{
    font-size: 20px;
    padding: 15px;
    padding-left: 20px;
    font-weight: bold;
   
    padding-bottom: 5px;
    padding-top: 0;
    
    
}

.order p,
.order p{
    font-size: 17px;
    padding: 15px;
    padding-right: 20px;
    
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0; 
    font-weight: bold;
}

.line{
    border-top: 1px solid black;
    width: 90%;
    margin: 0 auto;
    padding: 3.5px 0;

}

.hidden{
    display: none;
}

.complete-order{
    background:#16DB99;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    width: 90%;
    height: 40px;
    margin: 15px 20px;
}


.total-price{
    display: flex;
    justify-content: space-between;
}
.total-price h1,
.total-price p{
    font-size: 19px;
    padding: 15px;
    padding-right: 16px;
    padding-left: 19px;
    
    
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0; 
    font-weight: bold;
}
.total-price p{
    letter-spacing: 1px;
}

.form{
    position: absolute;
    top:25%;
    left: 10%;
    
    z-index: 4;
    width: 280px;
    height: 310px;
    background: white;

    border-radius: 2px;
    box-shadow: 0 0 5px black;
}
.form h1{
    text-align: center;
    margin: 26px 0;
    font-weight: bold;
    color: black;
}

.form input{
    width: 85%;
    margin: 10px auto;
    padding:10px 10px;
    display: block;
    font-size: 15px;
}
.form button{
    display: block;
    width: 93.5%;
    margin: 10px auto;
    padding:10px 40px;
    background:#16DB99;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.form button:active{
    width: 95%;
    padding: 12px;
}

.blackish{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.thanks{
    text-align: center;
    font-size: 15px;
    text-shadow: 0 0 3px;
    color:#80b918;
    padding: 5px;
    margin:10px;
}

@media(min-width:700px){
    body{
        display: flex;
        
    }
    .header{
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(/images/ham-pic7.avif);
        background-color: rgba(0,0,0,0.9);
        /* border-radius: 22px; */
        /* background-size:100%;  */
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* object-fit: cover; */
        
        background-blend-mode:normal;
        /* filter: blur(1px); */
    }
    .header h1{
        font-size: 3rem;
        color: black;
        font-weight: 900;
    }
    .container{
        width: 50%;
    }
    .container h1{
        font-size: 1.8rem;
    }
    .container p{
        font-size: 1.5em;
    }
    .box{
        width: 90%;
    }
    .list1,
    .list2,
    .list3{
        width: 90%;
        margin: 0 auto;
    }
    
}